@font-face {
  font-family: Exolight; 
  src: url("../css/Exo/Exo-Light.otf") format("opentype");
}
body{
	font-family: "Exolight";
}

footer {
  background-color: #FFC107;
  color: #333;  

}

.img{
    position: absolute;
}

.datyra_template{
    background-image:url("../images/datyra_border.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: auto;
 
}

.one_half{   
    background:url("../images/landing_image.png");
    height: 798px;
    padding-top: 50px;
    background-position: left top;
}



.two_half {
	height: 798px;
    padding-top:75px;
}

.nav-bar-page {
	padding-right: 0px;
    padding-left: 0px;
}

.requirement {
	width: 100%;
	height: auto;
	background-color:#f9faff;
	}

.requirement_steps {
	text-align: center;
	vertical-align: middle;
    height: 500px;
}

h1{
	font-size: 32px;
	font-weight: bold;
	color: #fff;
}

h2{
	font-size: 28px;
	color: #633e84;
}

.wtext{
    font-size: 16px;
	color: #fff;
}

.ptext{
	font-size: 14px;
	color: #b2404f;
	text-align: center;
}

.navbar{
 background:#FFFF;
}
.nav-link , .navbar-brand{
 color: #633e84;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.main-head-text {
	margin: 70px auto;
}

.vertical {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.vertical2 {	  
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.r_background {
    background-color: #633e84;
}

    .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    }
    .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }



