@font-face {
  font-family: Exolight; 
  src: url("../css/Exo/Exo-Light.otf") format("opentype");
}
body{
	font-family: "Exolight";
}

body{
background: url(imagen.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #633e84;
    color: white;
    text-align: center;
}

h1{
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

h2{
  font-size: 44px;
  color: #633e84;
}

h3{
    font-size: 46px;
    color: #633e84;
}


.img{
    width: 100%;
    height: auto;
    margin-left: 10px;    
    position: absolute;
}

.datyra_template{
    background-image:url("../images/datyra_border.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: auto;
    padding-top: 50px;
}

.one_half{   
    background:url("../images/landing_image.png");
    height: 798px;
    padding-top: 50px;
    background-position: left top;
}



.two_half {
	height: 798px;
  padding-top:75px;
}


.requirement {
	width: 100%;
	height: auto;
	background-color:#f9faff;
	}

.requirement_steps {
	text-align: center;
	vertical-align: middle;
    height: 500px;
}



/*text color*/

.wtext{
    font-size: 16px;
	color: #fff;
}

.ptext{
	font-size: 14px;
	color: #b2404f;
	text-align: center;
}

/* footer styles*/

.footer-link{
 color: #b2404f;
 font-size: 12px;
 font-weight: bold;
 letter-spacing: 3px;
 text-align: center;
 cursor: pointer;
 margin-right: 3em !important;
}

/* nav styles */
.nav-bar-page {
  padding-right: 0px;
  padding-left: 0px;
}

.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}


.navbar-nav{
color: #633e84;
}

.nav-link , .navbar-brand{
 color: #633e84;
 cursor: pointer;
}


.nav-link{
 margin-right: 1em !important;
}

.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
  display: flex;
}
.navbar-toggler{
  background:#fff !important;
}

.main-head-text {
	margin: 70px auto;
}

/* p aligns*/

.vertical {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.vertical2 {	  
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* button's styles */

.btn-white{
  letter-spacing: 4px;
  background: white; 
  border-color: white;
  color: #633e84;
  font-weight:bold;
  font-size:12px;
  border:0px;  
  height: 50px;
  width: 190px; 
}

.btn-purple{
  letter-spacing: 3px;
  background: #633e84; 
  border-color: #633e84;
  color: white;
  font-weight:bold;
  font-size:12px;
  border:0px;
  height: 50px;
  width: 190px;    
}

.btn-wpurple{
  letter-spacing: 4px;
  background: white; 
  border-color: #633e84;
  color: #633e84;
  font-weight: bold;
  font-size: 12px;
  border-style: solid;
  height: 50px;
  width: 200px;    
}

    .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    }
    .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }



.order-sm-12 img {
  border:5px solid orange;
}

.order-sm-1 {
  border:5px solid blue;
}

/* others */
.r_background {
    background-color: #633e84;
}

